.todo-row {
  max-width: 700px;
  background-color: white;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  padding: 12px;
  border-radius: 5px;
}

.todo-row > li {
  list-style-type: none;
  padding-left: 6px;
}

.icons {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icons:hover {
  opacity: 0.3;
}

.completed {
  opacity: 0.3;
}

.completed > li {
  font-style: italic;
  text-decoration: line-through;
}

